extends layout

block content

    div.ball(id = "ball") O
    section.main
        div.triangle-dark
        div.triangle-contrast
        div.animated.container
            div.wrapper
                div.title
                    h1 X<span id = "bold">FAIR 2</span><span id = "kerning">015</span>
                div.subtitle
                    h3 February 2, 2015
                    h3 Rockwell Cage
                a(id = 'button1' href = "https://google.com")
                    span.center-button-text REGISTER

    section.about
        div.container
            div.wrapper
                div.title
                    h1 ABOUT
                div.subtitle
                    h3 xFair is more than just booths, name tags and blazers — it's both a career fair and an expo, a showcase of raw talent, raw ideas, and raw passion. With 2000+ undergraduate and graduate students in attendence, xFair is <span id = "bold">MIT's largest spring career fair</span>.

    section.student_sponsor
        div.triangle-contrast
        div.container
            div.wrapper
                div.row
                    div.col-md-5
                        div.sponsor_title
                            h1 SPONSORS
                    div.col-md-2
                    div.col-md-5
                        div.student_title
                            h1 STUDENTS
                div.row
                    div.col-md-5
                        div.sponsor_subtitle
                            h3 Recruit the brightest young minds to make <span id = "bold">your company's</span> vision come true.
                            h3 Please note that the deadline to apply to be a sponsor for xFair 2015 is <span id = "bold">November 28, 2014</span>
                        a(id = 'button2' href = "https://google.com")
                            span.center-button-text Clickme
                    div.col-md-2
                    div.col-md-5
                        div.student_subtitle
                            h3 The first steps towards you future start here. For more information, check out our information section below.
                        a(id = 'button3' href = "https://google.com")
                            span.center-button-text Resume Drop
                        a(id = 'button3' href = "https://google.com")
                            span.center-button-text Company List
                        a(id = 'button3' href = "#info")
                            span.center-button-text FAQ

    section.info(id = "info")
        div.container
            div.wrapper
                div.title
                    h1 FAQ
                div.row
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                div.row
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

