extends layout

block content

    section.main#main
        div.triangle-dark
        div.triangle-contrast
        div.animated.container
            div.wrapper
                div.title
                    h1 X<span id = "bold">FAIR 2</span><span id = "kerning">015</span>
                div.subtitle
                    div.align
                        h3 February 2, 2015
                        h3 Rockwell Cage
                a(id = 'button1' href = "#about")
                    button.btn.register.employers
                        h4 EMPLOYERS
                a(id = 'button1' href = "#employer")       
                    button.btn.register.students
                        h4 STUDENTS

    section.about#about
        div.triangle-light
        div.container
            div.wrapper
                div.title
                    h1 xFair is more than your average career fair
                div.subtitle
                    h5 xFair is more than just booths, name tags and blazers — it's both a career fair and an expo, a showcase of raw talent, raw ideas, and raw passion. With 2000+ undergraduate and graduate students in attendence, xFair is <span id = "bold">MIT's largest spring career fair</span>.
        div.img
            img(src="/images/fairbanner1.png")

    section.employer#employer
        div.triangle-contrast
        div.triangle-dark
        div.container
            div.wrapper
                div.row
                    div.col-md-6
                        div.sponsor_title
                            h1 Employers
                        div.sponsor_subtitle
                            h4 <span id = "bold">Recruit the brightest young minds to make your company's vision come true.</span>
                            h4 Showcase your company and brand to thousands of attendees and inspire the next generation of talent.
                            h4 Please note that the deadline to apply to be a sponsor for xFair 2015 is <span id = "bold">November 28, 2014</span>.
                        div.apply-btn
                            a(id = 'employer-apply-btn' href = "mailto:xfair-cr@mit.edu")
                                button.btn.apply 
                                    h4 Contact xFair
                    div.col-md-6
                        div.flexslider
                          ul.slides
                            li
                              img(src='/images/employer/pic1.png')
                            li
                              img(src='/images/employer/pic2.png')
                            li
                              img(src='/images/employer/pic3.png')
                            li
                              img(src='/images/employer/pic4.png') 
                            li
                              img(src='/images/employer/pic5.png')
    section.white 
                
    section.exhibitor#exhibitor
        div.container
            div.wrapper
                div.title
                    h1 STUDENT EXHIBITORS
                div.subtitle
                    h3 We want to see your creativity, innovation, and engineering at its best. And we want to help you gain the exposure you deserve.
                    h3 Apply now to be an xFair 2015 student exhibitor! Applications are due <span id = "bold">November 30</span>.
                a(id = 'button2' href = "https://bit.ly/xfair-exhibitor")
                    span.center-button-text Apply

    section.info#info
        div.container
            div.wrapper
                div.title
                    h1 FAQ
                div.row
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                div.row
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

