extends layout

block content
  section.main 
    div.container
        div.wrapper
            div.title
                h1 xfair
            div.subtitle
                h4 February 2, 2015

  section.about
    div.container
        div.wrapper
            div.title
                h1 hi
            div.subtitle
                h4 February 2, 2015
  section.sponsor
    div.container
        div.wrapper
            div.title
                h1 xfair
            div.subtitle
                h4 February 2, 2015
            div.content
                h4 something else
  section.student
    div.container
        div.wrapper
            div.title
                h1 xfair
            div.subtitle
                h4 woot
  section.info
    div.container
        div.wrapper
            div.row
                div.col-md-4
                    h5 text
                div.col-md-4
                    h5 text
                div.col-md-4
                    h5 text
            div.row
                div.col-md-4
                    h5 text
                div.col-md-4
                    h5 text
                div.col-md-4
                    h5 text
