extends layout

block content

    section.main 
        div.triangle-dark
        div.triangle-contrast
        div.container
            div.wrapper
                div.title
                    h1 X<span id = "bold">FAIR 2015</span>
                div.subtitle
                    h3 February 2, 2015
                    h3 Rockwell Cage
        a(id = 'button1' href = "#")
            span.center-button-text REGISTRATION

    section.about
        div.container
            div.wrapper
                div.title
                    h1 ABOUT
                div.subtitle
                    h3 February 2, 2015

    section.sponsor
        div.triangle-contrast
        div.triangle-dark
        div.container
            div.wrapper
                div.title
                    h1 SPONSOR
                div.subtitle
                    h3 February 2, 2015
                div.content
                    h3 something else

    section.student
        div.container
            div.wrapper
                div.title
                    h1 STUDENT
                div.subtitle
                    h3 woot

    section.info
        div.triangle-dark
        div.triangle-contrast
        div.container
            div.wrapper
                div.title
                    h1 FAQ
                div.row
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem penis ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                div.row
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    div.col-md-4
                        h3 Can you write a noncoherent paragraph?
                        h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

