extends layout

block content
    section.main 
        div.triangle-contrast
        div.triangle-dark
        div.container
            div.wrapper
                div.title
                    h1 XFAIR
                div.subtitle
                    h4 February 2, 2015

    section.about
        div.triangle-contrast
        div.container
            div.wrapper
                div.title
                    h1 About
                div.subtitle
                    h4 text
    section.sponsor
        div.triangle-dark
        div.container
            div.wrapper
                div.title
                    h1 Sponsor
                div.subtitle
                    h4 text
                div.content
                    h4 content
    section.student
        div.triangle-contrast
        div.container
            div.wrapper
                div.title
                    h1 student
                div.subtitle
                    h4 hello student
    section.info
        div.container
            div.wrapper
                div.title
                    h1 FAQ
                div.row
                    div.col-md-4
                        h5 text
                    div.col-md-4
                        h5 text
                    div.col-md-4
                        h5 text
                div.row
                    div.col-md-4
                        h5 text
                    div.col-md-4
                        h5 text
                    div.col-md-4
                        h5 text
