extends layout

block stylesheets
    link(rel='stylesheet' href='/stylesheets/student.css' type='text/css')

block content   
    nav.navbar
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href='/') xFair 2015

    div.student
        div.container
            div.content
                h1 A student's guide to xFair
                p xFair is more than just booths, name tags and blazers — it's a career fair and a showcase of raw talent, raw ideas, and raw passion. With 2000+ undergraduate and graduate students in attendance, xFair is MIT's largest spring fair.

                h3 Resume drop
                p Drop your resume by January 18 and you'll automatically be entered into a raffle for an iPad Mini! In addition, you'll gain early exposure to our hundreds of company recruiters. 

                div.button
                    div Access resume drop

                h3 Dress code
                p Smart casual. Feel free to wear business attire but many recruiters will be in casual T-shirts!

                h3 Schedule
                div.schedule
                    h4 Rockwell Cage
                    div.row
                        div.col-lg-3
                            p 7:00AM
                        div.col-lg-9
                            p Company check-in
                    div.row
                        div.col-lg-3
                            p 10:00AM
                        div.col-lg-9
                            p Doors open to students
                    div.row
                        div.col-lg-3
                            p 4:00PM
                        div.col-lg-9
                            p xFair ends
                    h4 Media Lab Banquet (invited students)
                    div.row
                        div.col-lg-3
                            p 6:00PM
                        div.col-lg-9
                            p Banquet reception
                     div.row
                        div.col-lg-3
                            p 6:45PM
                        div.col-lg-9
                            p Banquet dinner
                    div.row
                        div.col-lg-3
                            p 8:00PM
                        div.col-lg-9
                            p Banquet ends  

                h3 Raffle
                p Stop by for raffle prizes at various company booths - raffles will be happening throughout the fair!

                h3 Banquet invites
                p All the Gold and Platinum Sponsors will be inviting students to come to our Banquet at the 6th floor of the Media Lab from 6pm to 8pm! When you talk to companies, they might choose to give you an invite. Please do not solicit multiple companies for the sake of “collecting” banquet invites, as this takes away opportunities from other students. You will only be able to accept one banquet invite. When you get an invite card from a company that you want, please come to the help desk or the exit booth to RSVP; if you do not you might lose your spot! 

                h3 Student projects
                p There will be tons of projects at the fair created by your fellow classmates ranging from 3D printers to bottle rockets! Check them out <a href="http://techfair.mit.edu/sr-blog/">here!</a>

                h3 Interviews
                p Selected companies will be inviting students to be interviewed the day after xFair. Interviews will take place on Tuesday, February 3, between 9am and 5pm in the GECD Interview Rooms, E39-305. Best of luck on your interview if you get one!



