$black: rgba(34, 32, 32, 1);

$light: rgba(230, 230, 230, 1);
$dark: rgba(10, 10, 10, 1);
$contrast: rgba(50, 230, 130, 1);

$avenir: 'Avenir' sans-serif;

@font-face {
    font-family: Avenir;
    src: url('/assets/Avenir.ttc');
}