$light: rgba(233, 227, 221, 1);
$dark: rgba(18, 40, 69, 1);
$contrast: rgba(92, 172, 159, 1);

$avenir: 'Avenir' sans-serif;
$opensans: 'Open Sans' sans-serif;

@font-face {
    font-family: Avenir;
    src: url('/assets/Avenir.ttc');
}