@import '_constants';

body {
    width:100%;
}


section.main {
    .container {
        .wrapper {
            .title {
                color: $black;
                text-align: center;
            }

            .subtitle{
                text-align: center;
            }
        }
    }
}