@font-face {
  font-family: Avenir;
  src: url("/assets/Avenir.ttc"); }
::selection {
  background: #5cac9f; }

::-moz-selection {
  background: #5cac9f; }

.ball {
  font-family: "Avenir" sans-serif;
  color: black;
  font-size: 500%;
  display: none;
  float: left;
  position: relative;
  top: 55.55vh;
  left: 30vw;
  z-index: 9; }

.center-button-text {
  position: relative;
  top: 29%; }

#button1 {
  display: block;
  height: 65px;
  width: 150px;
  padding: 0;
  border: 3px solid;
  border-color: #122845;
  border-radius: 6px;
  background: none;
  opacity: 1;
  color: #122845;
  font-family: "Avenir" sans-serif;
  font-size: 15pt;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: block;
  float: right;
  position: relative;
  top: 2vh; }

#button1:hover {
  color: #e9e3dd;
  font-family: "Avenir" sans-serif;
  font-size: 15pt;
  font-weight: 400;
  text-decoration: none;
  background: #122845;
  transition: all 600ms ease; }

body {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-color: #e9e3dd; }

section {
  height: 100vh;
  width: 100vw; }

section.main .animated, section.about .animated, section.sponsor .animated, section.student .animated, section.info .animated {
  -webkit-animation: fade_down 2s;
  -moz-animation: fade_down 2s;
  -o-animation: fade_down 2s;
  animation: fade_down 2s; }
section.main .container, section.about .container, section.sponsor .container, section.student .container, section.info .container {
  position: relative;
  top: 35vh; }
section.main .title, section.about .title, section.sponsor .title, section.student .title, section.info .title {
  color: #122845;
  text-align: right;
  position: relative;
  left: 15px;
  z-index: 9; }
  section.main .title h1, section.about .title h1, section.sponsor .title h1, section.student .title h1, section.info .title h1 {
    font-family: "Avenir" sans-serif;
    font-size: 500%;
    letter-spacing: 10px; }
    section.main .title h1 #bold, section.about .title h1 #bold, section.sponsor .title h1 #bold, section.student .title h1 #bold, section.info .title h1 #bold {
      font-weight: 900; }
section.main .subtitle, section.about .subtitle, section.sponsor .subtitle, section.student .subtitle, section.info .subtitle {
  color: #122845;
  text-align: right;
  z-index: 9; }
  section.main .subtitle h3, section.about .subtitle h3, section.sponsor .subtitle h3, section.student .subtitle h3, section.info .subtitle h3 {
    font-family: "Open Sans" sans-serif;
    line-height: 90%; }
    section.main .subtitle h3 #bold, section.about .subtitle h3 #bold, section.sponsor .subtitle h3 #bold, section.student .subtitle h3 #bold, section.info .subtitle h3 #bold {
      font-weight: 700; }
section.main .triangle-contrast, section.about .triangle-contrast, section.sponsor .triangle-contrast, section.student .triangle-contrast, section.info .triangle-contrast {
  border-top: 0;
  border-bottom: 125vh solid transparent;
  position: absolute;
  top: 0vh;
  border-left: 70vw solid #5cac9f;
  border-right: 0;
  overflow-x: hidden;
  z-index: 2; }
section.main .triangle-dark, section.about .triangle-dark, section.sponsor .triangle-dark, section.student .triangle-dark, section.info .triangle-dark {
  border-top: 60vh solid transparent;
  border-bottom: 40vh solid transparent;
  position: absolute;
  top: 40vh;
  border-left: 75vw solid #122845;
  border-right: 0;
  overflow-x: hidden;
  z-index: 1; }

@-webkit-keyframes fade_down {
  from {
    top: 32vh;
    opacity: 0; }
  to {
    top: 35vh;
    opacity: 1; } }
@-moz-keyframes fade_down {
  from {
    top: 32vh;
    opacity: 0; }
  to {
    top: 35vh;
    opacity: 1; } }
@-o-keyframes fade_down {
  from {
    top: 32vh;
    opacity: 0; }
  to {
    top: 35vh;
    opacity: 1; } }
@keyframes fade_down {
  from {
    top: 32vh;
    opacity: 0; }
  to {
    top: 35vh;
    opacity: 1; } }
section.about .container {
  position: relative;
  top: 30vh; }
section.about .subtitle h3 {
  line-height: 175%; }

section.sponsor .triangle-contrast {
  border-top: 80vh solid transparent;
  border-bottom: 100vh solid transparent;
  top: 180vh;
  border-left: 0;
  border-right: 80vw solid #5cac9f;
  z-index: 2; }
section.sponsor .triangle-dark {
  border-top: 200vh solid transparent;
  border-bottom: 0;
  position: absolute;
  top: 100vh;
  border-left: 0;
  border-right: 100vw solid #122845;
  overflow-x: hidden;
  z-index: 1; }
section.sponsor .content {
  text-align: center;
  z-index: 9; }

section.info .col-md-4 {
  padding: 20px; }

section.info .triangle-dark {
  width: 100vw;
  border-top: 100vh solid #122845;
  border-bottom: 0;
  top: 400vh;
  border-left: 0;
  border-right: 40vw solid transparent;
  z-index: 2; }
section.info .triangle-contrast {
  border-top: 150vh solid transparent;
  border-bottom: 0;
  top: 350vh;
  border-left: 100vw solid #5cac9f;
  border-right: 0;
  z-index: 1; }

/*# sourceMappingURL=style.css.map */
