@import '_constants';

::selection {
    background: $contrast;
}

::-moz-selection {
    background: $contrast;
}

.ball{
    font-family: $avenir;
    font-size: 500%;
    font-weight: 500;
    color: $dark;

    display: none;

    float:left;
    position: relative;
    top: 54.5vh;
    left: 30vw;
    z-index: 1;
}

html, body {
    max-width:100%;
    overflow-x: hidden;
    height: auto;
    top: 0;
    left: 0;
    background-color: $light;

    section {
        height: 100vh;
        width: 100vw;
    }
}

// SECTIONS
section.main {
    .animated {
        -webkit-animation: fade_down 2s;
        -moz-animation: fade_down 2s;
        -o-animation: fade_down 2s;
        animation: fade_down 2s;
    }

    .container {
        position: relative;
        top: 35vh;
        z-index: 9;

        .title {
            color: $dark;
            text-align: right;
            position: relative;
            left: 10px;
        }

        .subtitle {
            color: $dark;
            text-align: right;
        }

        .align {
            border-top: 3px solid $dark;
            width: 30vw;
            margin-left:auto;
            margin-top:15px;
            padding-top:10px;
        }

        .register {
            @include button();
            float: right;
        }

        .register:hover{
            @include button_hover();
        }

        h1 {
            font-family: $avenir;
            font-size: 3.5em;
            letter-spacing: 10px;
            #kerning {
                letter-spacing: 5px;
                font-weight: 900;
            }
            #bold {
                font-weight: 900;
            }
        }

        h3 {
            text-transform: uppercase;
            font-weight: 600;
            font-family: $avenir;
            letter-spacing: 2px;
            font-size: 1.4em;
            line-height:.8em;
            #bold {
                font-weight: 700;
            }
        }
    }

    .triangle-contrast { 
        border-top: 0;
        border-bottom: 125vh solid transparent; 
        position: absolute; 
        top: 0vh;
        border-left: 70vw solid $contrast; 
        border-right: 0;
        z-index: 2;
    }

    .triangle-dark {
        border-top: 60vh solid transparent;
        border-bottom: 40vh solid transparent; 
        position: absolute;
        top: 40vh;
        border-left: 75vw solid $dark; 
        border-right: 0;
        z-index: 1;
    }
}

section.about {
    background-color: $dark;
    color: $light;
    text-align: center;

    .triangle-light {
        border-top: 0vw solid $light; 
        border-bottom: 30vh solid transparent; 
        position: absolute; 
        top: 100vh;
        left:75vw;
        border-left: 0; 
        border-right: 40vw solid $light;
        z-index: 5;
    }

    .container {
        position: relative;
        top: 30vh;
        z-index: 9;

        .wrapper {
            width: 60vw;
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            font-family: $avenir;
            text-transform: uppercase;
            font-size:2em;
            letter-spacing:3px;
            margin-bottom:20px;
            margin-top:-10vh;
        }

        h5 {
            font-family: $opensans;
            line-height: 2em;
            font-size:1.2em;
            font-weight:300;
        }

        #bold {
            font-weight:600;
        }
    }

    .img img {
        margin-top: 40vh;
        width: 100vw;
    }
}

section.employer {
    color: $grey;

    .triangle-dark {
        border-top: 0vw solid $dark; 
        border-bottom: 27.5vh solid transparent; 
        position: absolute; 
        top: 200vh;
        left:0;
        border-right: 0; 
        border-left: 55vw solid $dark;
        z-index: 5;
    }

    .triangle-contrast {
        border-top: 27.5vh solid transparent;
        border-bottom: 55vh solid transparent; 
        position: absolute;
        top: 178.1vh;
        right: 0;
        border-left: 0; 
        border-right: 55vw solid $light;
        z-index: 1;
    }

    .container {
        position: relative;
        top: 10vh;
        z-index: 9;

        .wrapper {
            padding-top:30vh;
            margin: 20px;
        }

        .sponsor_subtitle {
            max-width: 85%;
        }

        h1 {
            font-family: $avenir;
            text-transform: uppercase;
            font-size:2.5em;
            letter-spacing:4px;
            margin-bottom:10px;
            margin-top:-11vh;
            font-weight:800;
        }

        h4 {
            font-family:$opensans;
            font-weight:light;
            line-height:1.4em;
            font-size:1.2em;
        }

        #bold {
            font-weight: 600;
        }

        .sponsor_subtitle {
            text-align: left;
        }

        .flexslider {
            border: none;
            max-width:500px;
            margin-top:-10vh;

            .flex-control-paging li a {
                width: 8px;
                height: 8px;
                opacity: .3;
            }
        }

        .apply {
            @include button();
            text-align: left;
            margin-top:8vh;
            margin-left: 0px;
        }

        .apply:hover {
            @include button_hover();
            text-align: left;
        }
    }

}

section.white {
    background-color: #fff;
    height:50vh;
    z-index:2;
    margin-top:-35vh;
}

section.exhibitor {
    .container {
        position: relative;
        top: 10vh;
        z-index: 9;
    }

    .subtitle {
        text-align: left;
    }
}

section.info {
    .container {
        position: relative;
        top: 5vh;
        z-index: 9;
    }
    
    .col-md-4 { 
        padding: 20px;
    }
}


@-webkit-keyframes fade_down { from { top: 32vh; opacity: 0; } to { top: 35vh; opacity: 1; }  }
@-moz-keyframes fade_down { from { top: 32vh; opacity: 0; } to { top: 35vh; opacity: 1; }  }
@-o-keyframes fade_down { from { top: 32vh; opacity: 0; } to { top: 35vh; opacity: 1; }  }
@keyframes fade_down { from { top: 32vh; opacity: 0; } to { top: 35vh; opacity: 1; }  }
