@import '_constants';
@import 'resume';

::selection {
    background: $contrast;
}

::-moz-selection {
    background: $contrast;
}

.relative {
    position: relative;
}

.ball{
    font-family: $avenir;
    font-size: 500%;
    font-weight: 500;
    color: $dark;

    display: none;

    float:left;
    position: relative;
    top: 54.5vh;
    left: 30vw;
    z-index: 2;
}

html, body {
    max-width:100%;
    overflow-x: hidden;
    height: auto;
    top: 0;
    left: 0;
    background-color: $light;

    section {
        height: 100vh;
        width: 100vw;
    }
}

// SECTIONS
section.main {
    .animated {
        -webkit-animation: fade_down 2s;
        -moz-animation: fade_down 2s;
        -o-animation: fade_down 2s;
        animation: fade_down 2s;
    }

    .container {
        position: relative;
        top: 35vh;
        z-index: 9;

        .wrapper {
            padding-right: 50px;
        }

        .title {
            color: $dark;
            text-align: right;
            position: relative;
            left: 10px;
        }

        .subtitle {
            color: $dark;
            text-align: right;
        }

        .align {
            border-top: 3px solid $dark;
            max-width: 450px;
            margin-left:auto;
            margin-top:15px;
            padding-top:5px;
        }

        .register {
            @include button();
            float: right;
        }

        .register:hover{
            @include button_hover();
        }

        h1 {
            font-family: $avenir;
            font-size: 3.5em;
            letter-spacing: 10px;
            #kerning {
                letter-spacing: 5px;
                font-weight: 900;
            }
            #bold {
                font-weight: 900;
            }
        }

        h3 {
            text-transform: uppercase;
            font-family: $avenir;
            letter-spacing: 2px;
            font-size: 1.4em;
            #bold {
                font-weight: 900;
            }
        }

        .tagline {
            text-align: right;
            font-family: $avenir;
            text-transform: uppercase;
            margin-bottom: 20px;

            a {
                color: $contrast;
            }
        }
    }

    .triangle-contrast { 
        border-top: 0;
        border-bottom: 125vh solid transparent; 
        position: absolute; 
        top: 0vh;
        border-left: 70vw solid $contrast; 
        border-right: 0;
        z-index: 2;
    }

    .triangle-dark {
        border-top: 60vh solid transparent;
        border-bottom: 40vh solid transparent; 
        position: absolute;
        top: 40vh;
        border-left: 75vw solid $dark; 
        border-right: 0;
        z-index: 1;
    }
}

section.about {
    background-color: $dark;
    color: $light;
    text-align: center;

    #aboutcontent {
        opacity:0;
    }

    .relative {
        position: relative;

        .triangle-light {
            border-top: 0vw solid $light; 
            border-bottom: 30vh solid transparent; 
            position: absolute;
            left:75vw;
            border-left: 0; 
            border-right: 40vw solid $light;
            z-index: 5;
        }
    }

    

    .container {
        position: relative;
        top: 30vh;
        z-index: 9;

        .wrapper {
            width: 60vw;
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            font-family: $avenir;
            text-transform: uppercase;
            font-size:2em;
            letter-spacing:3px;
            margin-bottom:20px;
            margin-top:-10vh;
        }

        h5 {
            font-family: $opensans;
            line-height: 2em;
            font-size:1.2em;
            font-weight:300;
        }

        #bold {
            font-weight:600;
        }
    }

    .img {
        opacity: 0;

        img {
            margin-top: 40vh;
            width: 100%;
        }
    }
}

section.employer {
    color: $grey;

    .triangle-dark {
        border-top: 0vw solid $dark; 
        border-bottom: 27.5vh solid transparent; 
        position: absolute; 
        top: -3.6vh;
        border-right: 0; 
        border-left: 57vw solid $dark;
        z-index: 5;
    }

    .triangle-contrast {
        border-top: 27.5vh solid transparent;
        border-bottom: 55vh solid transparent; 
        position: absolute;
        top:-25.1vh;
        right: 0;
        border-left: 0; 
        border-right: 55vw solid $light;
        z-index: 1;
    }


    .employercontent {
        margin-left: 80px;
        opacity: 0;
    }

    .wrapper {
        padding-top:12vh;
        margin: 20px;

        #content {
            margin: 30px;
            margin-top:80px;
            margin-left: 50px;
            z-index: 2;
            .sponsor_subtitle {
                max-width: 85%;
            }

            h1 {
                font-family: $avenir;
                text-transform: uppercase;
                font-size:2.5em;
                letter-spacing:4px;
                margin-bottom:10px;
                font-weight:800;
            }

            h4 {
                font-family:$opensans;
                font-weight:300;
                line-height:1.8em;
                font-size:1.2em;
                margin-bottom:5px;
            }

            #bold {
                font-weight: 600;
            }

            .sponsor_subtitle {
                text-align: left;
            }
        }
    }

    

    #contrast {
        position: absolute;
        background-color: #fff;
        width:100vw;
        margin-top: 0vh;
        margin-left: -20px;
        height: 45vh;
        z-index:1;
        padding: 100px;
        padding-top: 0;
        border-top: 1px solid $light1;

        .apply {
            @include button();
            text-align: left;
            margin-top:6vh;
            margin-left: 50px;
            border: 2px solid $contrast;

            h4 {
                margin-bottom: 10px;
                color: $contrast;
            }
        }

        .apply:hover {
            @include button_hover();
            text-align: left;

            background: $contrast;
        }

        .flexslider {
            border: none;
            max-width:500px;
            margin-top: -250px;
            opacity: 0;

            .flex-control-paging li a {
                width: 8px;
                height: 8px;
                opacity: .3;
            }

            .flex-control-paging li a.flex-active {
                background-color: $contrast;
                opacity: .6;
            }
        }
    }
}

section.student {
    padding-top: 20vh;
    background-color: $dark;
    color: $light;
    top: -4.7vh;
    z-index:10;

    .triangle-dark {
        border-top: 10vw solid transparent; 
        border-bottom: 20vw solid transparent; 
        position: absolute; 
        top: 8.5vh;
        left: -19vw;
        margin-top:-35vh;
        border-right: 120vw solid $dark; 
        border-left: 0;
        z-index: 1;
    }

    .triangle-dark2 {
        background-color:$dark;
        height: 20vh;
        position: relative;
        z-index: 0;
        top: -9vh;
    }

    .wrapper {
        position: absolute;
    }

    .content {
        .fadein {
            opacity: 0;
        }

        .title {
            z-index: 50;
            margin-top:-10vh;

            h1 {
                font-family: $avenir;
                text-transform: uppercase;
                font-size:2.5em;
                letter-spacing:4px;
                margin-bottom:10px;
                font-weight:800;
            }
        }

        #studentcontent {
            padding: 40px 80px 40px 10px;
        }

        .subtitle {
            h4 {
                font-family:$opensans;
                font-weight:300;
                line-height:1.8em;
                font-size:1.2em;
                margin-bottom:5px;
                margin-top:20px;
            }
        }

        .flexslider {
            max-width: 500px;
            border: none;
            border-radius: 0;
            margin-top:-10vh;

            .flex-control-paging li a {
                width: 8px;
                height: 8px;
                opacity: .4;
                background-color: #fff;
            }

            .flex-control-paging li a.flex-active {
                background-color: $contrast;
                opacity: .7;
            }
        }
    }
}

section.exhibitor {
    background-color: #fff;
    height: auto;
    display: table;
    padding: 50px;
    padding-bottom: 40px;

    .container {
        display: table-row;
        position: relative;
        top: 6vh;
        z-index: 9;
        text-align: center;

        .exhibitorcontent {
            opacity: 0;
        }

        .title {
            h1 {
                font-family: $avenir;
                text-transform: uppercase;
                font-size:2.5em;
                letter-spacing:4px;
                margin-top:5vh;
                margin-bottom:10px;
                font-weight:600;
            }
        }

        .subtitle {
            width: 80%;
            margin-left: auto;
            margin-right: auto;

            #bold {
                font-weight: 600;
            }

            h4 {
                font-family:$opensans;
                font-weight:300;
                line-height:1.8em;
                font-size:1.2em;
            }
        }

        .apply {
            @include button();
            margin-top:10px;
            width: 200px;
        }

        .apply:hover {
            @include button_hover();
        }

        .exhibit-img img {
            max-width: 350px;
        }

        .exhibits {
            display: table;
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
            margin-top:10vh;
            opacity: 0;

            h3 {
                font-family: $avenir;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 1.2em;
                font-weight: 800;
            }

            h5 {
                font-family: $opensans;
                font-weight: light;
                font-size: .9em;
                line-height: 1.6em;

                a {
                    color: $contrast;
                }
            }

            #script {
                font-style: italic;
            }

            .container {
                display: table-row;
            }

            .col-lg-4 {
                margin-bottom: 50px;
            }
        }
    }
}

section.info {
    height: 85vh;
    padding: 3vh 30px 50px 30px;
    color: $grey;

    .container {
        position: relative;
        top: 5vh;
        z-index: 9;
    }

    .title {
        opacity: 0;

        h1 {
            font-family: $avenir;
            text-transform: uppercase;
            font-size:2em;
            letter-spacing:4px;
            margin-top:5vh;
            margin-bottom: 25px;
            font-weight:600;
            text-align: center;
        }
    }

    h3 {
        font-family: $avenir;
        text-transform: uppercase;
        font-size:1.2em;
        letter-spacing:1px;
        margin-top:5vh;
        margin-bottom:10px;
        font-weight:800;
        line-height: 1.5em;
    }
    
    h5 {
        font-family: $opensans;
        font-weight: light;
        line-height: 1.5em;
        font-size: .9em;

        a {
            color: $contrast;
        }
    }
    .col-md-4 { 
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .faq {
        opacity: 0;
    }
}

section.footer {
    height: 25vh;
    color: $light;
    z-index:40;
    position: relative;

    .container {
        padding-top: 16vh;
        position: relative;
    }

    .row {
        border-top: 1px solid $light;
        height: auto;
        font-family: $avenir;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1em;
        position: absolute;
        width:90vw;
        margin-left: -5vw;

        #left {
            text-align: left;
            font-weight:900;

            #light {
                font-weight: 400;
            }

        }

        #right {
            text-align: right;

            a {
                font-weight: 600;
                color: $contrast;
            }
        }
    }

    .triangle-contrast {
        border-top: 40vh solid transparent;
        border-bottom: 0; 
        position: absolute; 
        margin-bottom: 0;
        margin-top:-15vh;
        border-left: 100vw solid $contrast; 
        border-right: 0;
        z-index: 0;
    }

    .triangle-dark {
        border-top: 30vh solid transparent;
        border-bottom: 0; 
        position: absolute; 
        margin-bottom: 0;
        margin-top:-18vh;
        border-right: 100vw solid $dark;
        border-left: 0;
    }

    .rectangle-dark {
        width: 100vw;
        background-color: $dark;
        height: 13vh;
        margin-top:12vh;
        position: absolute;
    }

    #icons {
        margin: 0 1px;

        a {
            color: $contrast;
        }

        .fa {
            margin: 0 4px;
        }
    }
}

@media screen and (max-width: 860px) {
    .triangle-contrast, .triangle-dark, .triangle-light, .rectangle-dark {
        opacity: 0;
    }
}

@media screen and (max-width: 1000px) {
    section.employer #contrast .flexslider {
        margin-top: 30px;
    }

    section.student {
        .triangle-contrast, .triangle-dark, .rectangle-dark {
            opacity: 0;
        }
    }
    
}


@-webkit-keyframes fade_down { from { top: 32vh; opacity: 0; } to { top: 35vh; opacity: 1; }  }
@-moz-keyframes fade_down { from { top: 32vh; opacity: 0; } to { top: 35vh; opacity: 1; }  }
@-o-keyframes fade_down { from { top: 32vh; opacity: 0; } to { top: 35vh; opacity: 1; }  }
@keyframes fade_down { from { top: 32vh; opacity: 0; } to { top: 35vh; opacity: 1; }  }
